

@import "../_orbicular.scss";
@include orbicular($shadow: 6px 6px 10px rgba(0,0,0,0.2));


div.container {
    width: 15em;
    height: 15em;
}


img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
