

$progressBarColor: #50a6d3;     // The completed progress
$progressBarBg: #EEE;           // The remaining progress
$progressFillColor: #2b383f;    // The circle center

// This is the width of the progress bar itself.
// NOT the size of the circle which is definded by it's parent element.
//
// The bar width is defined as a percentage of the width of the circle
// (% of parent element width).
// Don't add a percent sign as it is used as part of a larger calculation
$progressBarWidth: 8; // % (for the OCD amoung us)


@mixin co-border-radius($radius) {
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
}

@mixin co-transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin co-box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}
